@use "@material/card";

@include card.core-styles;

.mdc-card {

  &__img {
    max-height: 100%;
    max-width: 100%;
  }

  &__media {
    max-height: 100%;
    border-bottom: 1px solid lightgrey;
    background-color: darkgreen;
  }

  &__media-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .favorite-symbol {
    position: absolute;
    right: 22px;
  }
}