@use "@material/button/styles";
@use "@material/dialog";

@include dialog.core-styles;

.material-symbols-outlined {
  transition:1s;

  &.flipped {
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
  }
}